body {
    background-image: url("image/20161104_154256.jpg");
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 75px;
    color: aquamarine;
    text-shadow: 0 0 8px #0c0101, 0 0 8px #01010c;
    text-align: center;
}

.topimages {
    width: 100%;
    height: 700px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

img {
    /* position: relative; */
    border: 2px solid aquamarine;
    border-radius: 15px;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.brief {
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    color: aquamarine;
    text-shadow: 0 0 5px #0c0101, 0 0 5px #01010c;
}

.table {
    font-size: 28px;
    color: aquamarine;
    text-shadow: 0 0 8px #0c0101, 0 0 8px #01010c;
    width: 100%;
}

#ulist {
    text-align: center;
    border: 1px 1px 1px 1px solid aquamarine;
}

#olist {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#map {
    width: 600px;
    height: 300px;
    margin-bottom: 15px;
    border-radius: 15px;
}

hr {
    border: 1px solid aquamarine;
    width: 100%;
}

.bottom {
    color: aquamarine;
    text-shadow: 0 0 8px #0c0101, 0 0 8px #01010c;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

a {
    color: aquamarine;
    font-size: 20px;
    text-shadow: 0 0 8px #0c0101, 0 0 8px #01010c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}